[submodule ".registry"]
	path = .registry
	url = https://github.com/noamross/noamross.r-universe.dev
	branch = HEAD
[submodule "RD1"]
	path = RD1
	url = https://github.com/noamross/RD1
[submodule "duckspending"]
	path = duckspending
	url = https://usaspending.grant-witness.us/r-package/duckspending
[submodule "mgcv"]
	path = mgcv
	url = https://github.com/noamross/mgcv
